---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/navigation/Navigation.astro';
import client from '../lib/graphql';
import { pageQuery, pathsQuery } from './query';
import getLocales from '../lib/locales';
import PageHero from '../components/sections/page-hero/PageHero.astro';
import SocialMedia from '../components/sections/social-media/SocialMedia.astro';
import Projects from '../components/sections/projects/Projects.astro';
import Contact from '../components/sections/contact/Contact.astro';

export async function getStaticPaths() {
  const pathsResponse = await client.query({
    variables: {},
    query: pathsQuery,
  });
  const paths = pathsResponse.data.commonPageCollection.items.map(
    (path) => path.path
  );
  const { items: responseLocales } = await getLocales();
  const staticPaths = responseLocales.flatMap((locale) =>
    paths.flatMap((path) => [
      {
        params: {
          slug: locale.default
            ? path === '/'
              ? undefined
              : path
            : path === '/'
            ? locale.code
            : `${path}/${locale.code}`,
        },
        props: { locale: locale.code, path },
      },
    ])
  );

  return staticPaths;
}

const { data: pageQueryResults } = await client.query({
  variables: {
    locale: Astro.props['locale'],
    path: Astro.props['path'],
  },
  query: pageQuery,
});

const { metadata, sectionsCollection } =
  pageQueryResults.commonPageCollection.items[0];

const sections = sectionsCollection.items;
---

<Layout {...metadata} locale={Astro.props['locale']}>
  <Navigation sections={sections} locale={Astro.props['locale']} />
  <main class="parallax-container">
    {
      sections.map((section, index) => {
        switch (section['__typename']) {
          case 'PimentarosaLiveSectionPageHero':
            return <PageHero {...section} locale={Astro.props['locale']} />;
          case 'PimentarosaLiveSectionSocialMedia':
            return <SocialMedia {...section} locale={Astro.props['locale']} />;
          case 'PimentarosaLiveSectionProjects':
            return <Projects {...section} locale={Astro.props['locale']} />;
          case 'PimentarosaLiveSectionContact':
            return <Contact {...section} locale={Astro.props['locale']} />;
          default:
            console.log(section['__typename']);
            return <section class="parallax-section">NYI</section>;
        }
      })
    }
  </main>
</Layout>

<style>
  .parallax-container {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
  }
</style>

<style is:global>
  main > section {
    min-height: 100vh;
    background: #fff;
  }
</style>
